*{
    width: 100%;
    box-sizing: border-box;
}
.productForm{
    width: 100;
    display: flex;
    justify-content: center;
}
i{
    font-size: 20px;
    width: 10px;
    color:black;
}
.table{
    width: 50px !important;
}
.text1{
    color: red;
}
.ratingsize{
    width: 100px !important;
}
.rating-text{
    width: 5% !important;
}
.main-table{
    width: 100%;
}
.col-width{
    width: 70%;
}
.title{
    display: flex;
    text-align: center;
}